*{
  margin: 0px;
  font-family: monda;
}
@font-face { font-family: monda; src: url('./assets/monda/Monda-Regular.ttf'); } 
 @font-face { font-family: monda; font-weight: bold; src: url('./assets/monda/Monda-Bold.ttf');}
body{
  
  background-color: #B9B7BD;
  background-size: 100% ;
  background-attachment: fixed;
  
}
nav{
  position: sticky;
  top: 0;
  z-index: 12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(185,183,189);
  background: linear-gradient(0deg, rgba(185, 183, 189, 0) 0%, rgba(98,98,98,1) 100%);
  backdrop-filter: blur(5px);
  
  img{
    width: 80px;
  }
  button{
    border: none;
    background-color: #f7f7f700;
    border-radius: 200px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 2px 2px 5px white;
  }
  button:hover {
    font-size: 30px;
  }
}

.divCartWidget{
  display: flex;
  gap: 2vw;
  align-items: center;
  margin: 5px 3% 5px 5px;
  padding: 10px;
  border: solid;
  border-color: #555555;
  border-radius: 20px;
  cursor: pointer;
}
.divCartWidget {
  position: relative;
  cursor: pointer;
}

.cart-preview {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item-preview {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-preview img {
  object-fit: cover;
  border-radius: 4px;
}

.view-all-button {
  background-color: #551A8B;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 10px;
}

.view-all-button:hover {
  background-color: #602e8f;
}

h1{
  font-size: 200px;
  text-align: center;
}
.classTittle{
  font-size: 100px;
  text-align: center;
}
.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: box-shadow 0.3s;
  p, h3{ 
    color: white;
    font-size: larger;
    cursor: pointer;
  }
}

.card-image {
  width: 80%;
  cursor: pointer;
}

.card-title {
  margin: 8px 0;
}

.card-description {
  font-size: 1rem;
  color: #555;
}

.cardButton {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #551A8B;
  color: #fff;
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
  z-index: 3;
}
.cardButton:hover{
  background-color: #602e8f;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.548);
}
.containerDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  background-color: rgba(169, 169, 169, 0.048);
  backdrop-filter: blur(5px);
  margin: auto;
}
.detailTittle{
  font-size:50px;

}
.detailDescription, .detailPrice{
  font-size: 25px;
  
}
.containerCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  background-color: rgba(169, 169, 169, 0.048);
  backdrop-filter: blur(5px);
  margin: auto;
}
.cartList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.cartProduct{
  border: 1px solid #ccc;
  background-color: rgba(169, 169, 169, 0.048);
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonRemove{
  background-color: #551A8B;
  color: #fff;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  width: 40%;
  
}
.buttonEmptyCart, .buttonPlaceOrder{
  width: 20%;
  padding: 8px 16px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #551A8B;
  color: #fff;
  border: none;
  border-radius: 4px; 
}
.emptyCart{
  font-size: 60px;
  width: auto;
  text-align: center;
}
.Toastify__toast-container {
  top: 80px !important;
  z-index: 9999; 
}

.offer{
  text-align: center;
}
.offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.offer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.offer-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.offer-prices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.original-price {
  text-decoration: line-through;
  color: #999;
}

.discounted-price {
  color: #e63946;
  font-weight: bold;
}

.time-left {
  margin: 10px 0;
  color: #555;
}

.buy-now-button {
  background-color: #38b000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now-button:hover {
  background-color: #287d00;
}



